#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&lt {
    tapping-term-ms = <220>;
    quick-tap-ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 { // alphabet
            label = "LAYER_0";
            display-name = "Layer 0";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |   Q(GUI)  |     W     |     E     |     R     |     T     |        |     Y     |     U     |     I     |     O     |     P     |
                &hm LGUI Q     &kp W       &kp E       &kp R       &kp T                &kp Y       &kp U       &kp I       &kp O      &kp P
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |   A(ALT)  |     S     |     D     |     F     |     G     |        |     H     |     J     |     K     |     L     |   '(L4)   |
                &hm LALT A     &kp S       &kp D       &kp F       &kp G                &kp H       &kp J       &kp K       &kp L     &lt 4 SQT
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |  Z(CTRL)  |     X     |     C     |     V     |     B     |        |     N     |     M     |     ,     |     .     |     /     |
                &hm LCTRL A    &kp X       &kp C       &kp V       &kp B                &kp N       &kp M     &kp COMMA    &kp DOT     &kp FSLH
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |    TAB(L1)    |   SPACE(SHIFT)  |        |    ENTER(L2)    | BACKSPACE(L3) |
                                             &lt 1 TAB     &hm LSHFT SPACE              &lt 2 ENTER      &lt 3 BSPC
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        layer_1 { // numpad
            label = "LAYER_1";
            display-name = "Layer 1";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |    GUI    |    ESC    |     (     |     )     |   DELETE  |        |     /     |     7     |     8     |     9     |     *     |
                 &kp LGUI     &kp ESC     &kp LPAR    &kp RPAR    &kp DEL              &kp FSLH     &kp N7      &kp N8      &kp N9     &kp STAR
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    ALT    | CAPS LOCK |     [     |     ]     | BACKSPACE |        |     -     |     4     |     5     |     6     |     +     |
                 &kp LALT    &kp CAPS     &kp LBKT    &kp RBKT   &kp BSPC             &kp MINUS     &kp N4      &kp N5      &kp N6     &kp PLUS
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    CTRL   |           |     {     |     }     |           |        |     ,     |     1     |     2     |     3     |     =     |
                 &kp LCTRL     &none       &kp C       &kp V       &none              &kp COMMA     &kp N1      &kp N2      &kp N3     &kp EQUAL
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |   ((ACTIVE))  |      SHIFT      |        |        0        |       .       |
                                               &none          &kp LSHFT                   &kp N0           &kp DOT
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        layer_2 { // navigation, function, media
            label = "LAYER_2";
            display-name = "Layer 2";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |    GUI    |     F1    |     F2    |     F3    |     F4    |        |  VOL UP   |           |     ↑     |           | BRIGHT UP |
                 &kp LGUI     &kp F1      &kp F2      &kp F3      &kp F4             &kp C_VOL_UP   &none      &kp UP       &none    &kp C_BRI_UP
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    ALT    |     F5    |     F6    |     F7    |     F8    |        |  VOL DOWN |     ←     |     ↓     |     →     |BRIGHT DOWN|
                 &kp LALT     &kp F5      &kp F6      &kp F7      &kp F8             &kp C_VOL_UP  &kp LEFT   &kp DOWN    &kp RIGHT  &kp C_BRI_DN
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    CTRL   |     F9    |    F10    |    F11    |    F12    |        |    MUTE   |     1     |     2     |     3     |           |
                 &kp LCTRL    &kp F9      &kp F10     &kp F11     &kp F12             &kp C_MUTE  &kp C_PREV  &kp C_PP    &kp C_NEXT    &none
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |               |      SHIFT      |        |    ((ACTIVE))   |               |
                                               &none          &kp LSHFT                    &none            &none
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        layer_3 { // pointer
            label = "LAYER 3";
            display-name = "Layer 3";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |    GUI    |           |           |           |           |        |           |           |           |           |           |
                 &kp LGUI      &none       &none       &none       &none                &none       &none       &none       &none       &none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    ALT    |           |           |           |           |        |           |           |           |           |           |
                 &kp LALT      &none       &none       &none       &none                &none       &none       &none       &none       &none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    CTRL   |PRINTSCREEN|SCROLL LOCK|   PAUSE   |           |        |           |  PAGE UP  | PAGE DOWN |    HOME   |    END    |
                 &kp LCTRL    &PSCRN       &SLCK    &PAUSE_BREAK   &none                &none     &kp PG_UP   &kp PG_DN    &kp HOME    &kp END
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |               |      SHIFT      |        |     INSERT      |   ((ACTIVE))  |
                                               &none          &kp LSHFT                    &INS             &none
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        layer_4 { // symbol
            label = "LAYER 4";
            display-name = "Layer 4";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |    GUI    |     ~     |     `     |     ^     |           |        |           |     \     |     |     |     _     |           |
                 &kp LGUI    &kp TILDE   &kp GRAVE   &kp CARET     &none                &none      &kp BSLH    &kp PIPE   &kp UNDER     &none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    ALT    |     !     |     @     |     #     |     &     |        |     %     |     :     |     ;     |     $     | ((ACTIVE))|
                 &kp LALT     &kp EXCL     &kp AT     &kp HASH    &kp AMPS            &kp PRCNT   &kp COLON    &kp SEMI    &kp DLLR     &none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    CTRL   |           |           |           |           |        |           |           |           |           |           |
                 &kp LCTRL     &none       &none       &none       &none                &none       &none       &none       &none       &none
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |               |      SHIFT      |        |                 |               |
                                               &none          &kp LSHFT                    &none            &none
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };
    };
 };
