#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// mouse
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#include <dt-bindings/zmk/pointing.h>


&lt {
    tapping-term-ms = <220>;
    quick-tap-ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            label = "ALPHA";
            display-name = "Alpha";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |     Q     |     W     |     E     |     R     |     T     |        |     Y     |     U     |     I     |     O     |     P     |
                   &kp Q       &kp W       &kp E       &kp R       &kp T                &kp Y       &kp U       &kp I       &kp O       &kp P
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |   A(GUI)  |   S(ALT)  |   D(CTRL) |  F(SHIFT) |     G     |        |     H     |  J(SHIFT) |   K(CTRL) |   L(ALT)  |   '(GUI)  |
                &hm LGUI A  &hm LALT S  &hm LCTRL D &hm LSHFT F    &kp G                &kp H    &hm RSHFT J &hm RCTRL K &hm RALT L  &hm RGUI SQT
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     Z     |     X     |     C     |     V     |     B     |        |     N     |     M     |     ,     |     .     |     /     |
                   &kp Z       &kp X       &kp C       &kp V       &kp B                &kp N       &kp M     &kp COMMA    &kp DOT     &kp FSLH
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |    TAB(L1)    |    SPACE(L2)    |        |    ENTER(L3)    | BACKSPACE(L4) |
                                             &lt 1 TAB        &lt 2 SPACE               &lt 3 ENTER      &lt 4 BSPC
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        symbol { // Layer 1
            label = "SYM";
            display-name = "Sym";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |     !     |     @     |     #     |     $     |     %     |        |     ^     |     [     |     ]     |     |     |     \     |
                 &kp EXCL     &kp AT       &kp E     &kp HASH     &kp PRCNT           &kp CARET    &kp LBKT    &kp RBKT    &kp PIPE    &kp BSLH
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    GUI    |     ALT   |    CTRL   |   SHIFT   |     &     |        |     _     |     (     |     )     |     :     |     ;     |
                 &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT    &kp AMPS            &kp UNDER    &kp LPAR    &kp RPAR    &kp COLON   &kp SEMI 
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    REDO   | HIGHLIGHT |   ITALIC  | UNDERLINE | DUPLICATE |        |     ¥     |     {     |     }     |     ,     |     .     |
                 &kp LC(Y) &kp LC(LS(H)) &kp LC(I)   &kp LC(U)    &kp LC(D)          &kp INT_YEN   &kp LBRC    &kp RBRC    &kp COMMA   &kp DOT
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |  ((PRESSING)) |        `        |        |        ~        |               |
                                                &none         &kp GRAVE                  &kp TILDE          &none
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

	    navigation { // Layer 2
	        label = "NAV";
	        display-name = "Nav";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |    ESC    | CAPS LOCK |   DELETE  | BACKSPACE | CLICK1(L) |        |   INSERT  |  MOUSE ←  |  MOUSE ↑  |  MOUSE ↓  |  MOUSE →  |
                  &kp ESC    &kp CAPS     &kp DEL     &kp BSPC   &mkp MB1          &kp INS &mmv MOVE_LEFT &mmv MOVE_UP &mmv MOVE_DOWN &mmv MOVE_RIGHT
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    GUI    |     ALT   |    CTRL   |   SHIFT   | CLICK2(R) |        | CLICK4(B) |     ←     |     ↑     |     ↓     |     →     |
                 &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &mkp MB2              &mkp MB4    &kp LEFT     &kp UP     &kp DOWN   &kp RIGHT
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |    HOME   |  PAGE UP  | PAGE DOWN |    END    | CLICK3(M) |        | CLICK5(F) |  SCROLL ← |  SCROLL ↑ |  SCROLL ↓ |  SCROLL → |
                 &kp HOME    &kp PG_UP   &kp PG_DN    &kp END    &mkp MB3         &mkp MB5 &msc SCRL_LEFT &msc SCRL_UP &msc SCRL_DOWN &msc SCRL_RIGHT
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |               |   ((PRESSING))  |        |                 |               |
                                                &none           &none                      &none            &none    
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

	    number { // Layer 3
	        label = "NUM";
	        display-name = "Num";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |     /     |     7     |     8     |     9     |     *     |        |   INSERT  |    HOME   |  PAGE UP  | PAGE DOWN |    END    |
                  &kp BSLH     &kp N7      &kp N8      &kp N9    &kp STAR              &kp INS     &kp HOME   &kp PG_UP   &kp PG_DN    &kp END
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     -     |     4     |     5     |     6     |     +     |        |   DELETE  |   SHIFT   |    CTRL   |    ALT    |    GUI    |
                 &kp MINUS     &kp N4      &kp N5      &kp N6    &kp PLUS              &kp DEL    &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     =     |     1     |     2     |     3     |     ,     |        |           |           |           |           |   NUMPAD  |
                 &kp EQUAL     &kp N1      &kp N2      &kp N3    &kp COMMA               &none       &none       &none       &none      &tog 5
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |       .       |        0        |        |   ((PRESSING)) |                |
                                               &kp DOT           &kp N0                     &none           &none    
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        function { // Layer 4
            label = "FUN";
            display-name = "Fn";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |     F1    |     F2    |     F3    |     F4    |PRINTSCREEN|        | BRIGHT UP |    MUTE   | VOL DOWN  |  VOL UP   |           |
                   &kp F1      &kp F2      &kp F3      &kp F4    &kp PSCRN          &kp C_BRI_UP  &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP    &none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     F5    |     F6    |     F7    |     F8    |SCROLL LOCK|        |BRIGHT DOWN|   SHIFT   |    CTRL   |    ALT    |    GUI    |
                   &kp F5      &kp F6      &kp F7      &kp F8    &kp SLCK           &kp C_BRI_DN  &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     F9    |     F10   |     F11   |     F12   |   PAUSE   |        |           |  PREVIOUS | PLAY/PAUSE|    NEXT   |   GAMING  |
                   &kp F9      &kp F10     &kp F11     &kp F12  &kp PAUSE_BREAK         &none     &kp C_PREV  &kp C_PP    &kp C_NEXT    &tog 6
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |   CAPS LOCK   |                 |        |                 | ((PRESSING))  |
                                              &kp CAPS          &none                      &none            &none    
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        media { // Layer 5
            label = "MEDIA";
            display-name = "Media";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |     /     |     7     |     8     |     9     |     *     |        |           |           |           |           |           |
                   &kp Q       &kp N7      &kp N8      &kp N9    &kp STAR               &none       &none       &none       &none       &none
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     -     |     4     |     5     |     6     |     +     |        |           |   SHIFT   |    CTRL   |    ALT    |    GUI    |
                 &kp MINUS     &kp N4      &kp N5      &kp N6    &kp PLUS               &none     &kp RSHFT   &kp RCTRL   &kp RALT    &kp RGUI
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |     =     |     1     |     2     |     3     |     ,     |        |           |           |           |           |   NUMPAD  |
                 &kp EQUAL     &kp N1      &kp N2      &kp N3    &kp COMMA              &none       &none       &none       &none       &tog 5
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |     .(L1)     |       0(L2)     |        |    ENTER(L3)    | BACKSPACE(L4) |
                                               &kp DOT          &kp N0                  &lt 3 ENTER       &lt 4 BSPC
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

        gaming { // Layer 6
            label = "GAME";
            display-name = "Game";
            bindings = <
            // ╭───────────┬───────────┬───────────┬───────────┬───────────╮        ╭───────────┬───────────┬───────────┬───────────┬───────────╮
            // |    TAB    |     Q     |     W     |     E     |     R     |        |     T     |     Y     |     U     |     I     |     O     |
                   &kp Q       &kp W       &kp E       &kp R       &kp T                &kp T       &kp Y       &kp U       &kp I       &kp O
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |   SHIFT   |     A     |     S     |     D     |     F     |        |     G     |     H     |     J     |     K     |     L     |
                 &kp LSHFT     &kp A       &kp S       &kp D       &kp F                &kp G       &kp H       &kp J       &kp K       &kp L
            // ├───────────┼───────────┼───────────┼───────────┼───────────┤        ├───────────┼───────────┼───────────┼───────────┼───────────┤
            // |   CTRL    |     Z     |     X     |     C     |     V     |        |     B     |     N     |     M     |     P     |   GAMING  |
                 &kp LCTRL     &kp Z       &kp X       &kp C       &kp V                &kp B       &kp N       &kp M       &kp P       &tog 6
            // ╰───────────┴───────────┴─┬─────────┴─────┬─────┴───────────┤        ├───────────┴─────┬── ──┴─────────┬─┴───────────┴───────────╯
            //                           |    TAB(L1)    |    SPACE(L2)    |        |    ENTER(L3)    | BACKSPACE(L4) |
                                             &lt 1 TAB        &lt 2 SPACE               &lt 3 ENTER      &lt 4 BSPC
            //                           ╰───────────────┴─────────────────╯        ╰─────────────────┴───────────────╯
            >;
        };

    };
 };
